/* BlogPosts */

#BlogPosts li {
    width: 97.5%;
    padding: 10px;
    display: inherit;
    margin: auto;
    border: 0.5px solid lightgray;
}

#BlogPosts .BlogMain {
    display: flex;
    flex-direction: row;
}

#BlogPosts .BlogCover {
    border-radius: 1px;
    margin-right: 20px;
}

#BlogPosts .BlogContent {
}

#BlogPosts li:hover {
    transition: 0.2s all;
    box-shadow: 0 0 10px rgba(0,0,0,0.22);
}

#BlogPosts .headline {
    display: flex;
    flex-direction: row;
}

#BlogPosts a:hover {
    text-decoration: underline;
}

#BlogPosts .content {
    margin-top: 15px;
    margin-bottom: 10px;
}

#BlogPosts .preview {
    margin-top: 10px;
}

#BlogPosts .underline {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#BlogPosts .underline a {
    margin-right: 15px;
}

#BlogPosts .underline h1 {
    margin-right: 15px;
}
