* {
    font: 15px / 1.5 sans-serif;
    margin: 0px;
    padding: 0px;
}

strong {
    font-weight: bold;
}

h2 strong {
    font-size: 20px;
}

p {
    font-size: 16px;
}

/* containers */

.row-container {
    width: 98.6%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

.container {
    width: 800px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
}

.container .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.container .errors {
    margin-top: 15px;
}

.container h1 {
    margin-bottom: 30px;
}

.container .errors li {
    display: inherit;
    margin-top: 5px;
    padding: 7px;
    background-color: #FFBEBE;
    border-left: 1.5px solid red;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.left-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-right: 30px;
    width: 15%;
    border: 1px solid lightgray;
}

.left-container h3 {
    text-align: center;
}

.left-container a {
    margin-top: 15px;
}

.right-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 30px;
    width: 15%;
    height: 250px;
    border: 1px solid lightgray;
}

/* Header */

header {
    box-shadow: 0 0 20px rgba(0,0,0,0.22);
    height: 70px;
    margin-bottom: 30px;
}

header .topbar {
    width: 70%;
    margin: auto;
}

header .logo {
    float: left;
    margin-top: 15px;
}

header .branding {
    float: left;
    margin-left: 20px;
    margin-top: 24px;
}

header .searchbar {
    float: left;
    margin-left: 70px;
    margin-top: 18px;
}

header .searchbar input {
    position: relative;
    width: 300px;
    background: transparent;
    padding-left: 35px;
}

header .searchbar img {
    position: absolute;
    margin-top: 7px;
    margin-left: 10px;
}

header .login {
    float: right;
    margin-top: 24px;
}

header a {
    margin-left: 25px;
}

header .navigator {
    float: right;
    margin-right: 30px;
    margin-top: 24px;
}

header .navigator li {
    display: inline;
}


/* footer */

footer {
    width: 70%;
    margin: auto;
    margin-top: 30px;
    background-color: black;
    box-shadow: 0 0 20px rgba(0,0,0,0.22);
    height: 50px;
}

/* selects */

select {
    padding: 5px;
    border: 1px solid lightgray;
}

/* hr */

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    background-color: lightgray;
    height: 1px;
}

/* Inputs */

input[type=submit] {
    background-color: white;
    border: none;
    cursor: pointer;
}

input[type=text], input[type=password], input[type=email], input[type=datetime] {
    border: none;
    padding: 5px;
    padding-left: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.22);
    border-left: 2.5px solid black;
}

textarea {
    border: none;
    padding: 5px;
    padding-left: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.22);
    resize: none;
    height: 400px;
    border-left: 2.5px solid black;
}

label {
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}

/* Link */

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.buttonLink {
    padding: 10px;
    border: 1px solid black;
}

.buttonLink:hover {
    background-color: black;
    color: white;
    transition: 0.3s all;
}

.clickLink {
    color: dodgerblue;
}

.clickLink:hover {
    text-decoration: underline;
}