
@{
}

<div class="container">
    <h1>No Access!</h1>
    <a class="clickLink" asp-controller="Home" asp-action="Index">Back</a>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="right-container">
        <img src="data:image;base64,@System.Convert.ToBase64String(ViewBag.CurrentUserPicture)" height="80" width="80" />
        <h1 style="text-align: center"><a asp-controller="Account" asp-action="Profil" asp-route-id="@ViewBag.CurrentUserId"><strong>@(char.ToUpper(User.Identity.Name[0]) + User.Identity.Name.Substring(1))</strong></a></h1>
        <hr />
        <h1>Posts: <strong>@ViewBag.UserBlogPostCount</strong></h1>
        <h1>Comments: <strong>@ViewBag.UserCommentCount</strong></h1>
    </div>
}

